

/* Admin backend grid table elements */
a.jgrid:hover {	text-decoration: none;}

.jgrid span.state {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.jgrid span.text 					{ display:none; }
.jgrid span.publish					{ background-image: url(../images/active.png); }
.jgrid span.unpublish				{ background-image: url(../images/inactive.png); }
.table td, .table th{
	font-size: 12px;
}